<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>博客列表</title>
</head>
<body>
<div layout:fragment="content">
    <div class="post-content">
        <div class="ui grid">
            <div class="three wide column">
                <a class="avatar"
                   th:href="@{/posts(author=${post.author.id})}"
                   th:attr="data-title=${post.author.username}, data-content=${post.author.bio}">
                    <img class="ui circular image" th:src="${post.author.avatar}">
                    <br/>
                    <span>[[${post.author.username}]]</span>
                </a>
            </div>
            <div class="ten wide column">
                <div class="ui segment">
                    <h3><a th:href="@{|/posts/${post.id}|}">[[${post.title}]]</a></h3>
                    <pre>[[${post.content}]]</pre>
                    <div>
                        <span class="tag">[[${post.createdAt}]]</span>
                        <span class="tag right">
                            <span>浏览([[${post.pv}]])</span>
                            <span>留言([[${post.comments.total}]])</span>
                            <div class="ui inline dropdown" th:if="${post.author.id == currentUser.id}">
                                <div class="text"></div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item">
                                        <a  class="ui green basic button" th:href="@{/posts/{id}/edit (id=${post.id})}">编辑</a>
                                    </div>
                                    <div class="item">
                                        <form th:action="@{/posts/{id}/remove (id=${post.id})}" method="post">
                                            <button class="ui green basic button" type="submit">删除</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="posts/comment :: comment"></div>
</div>
</body>
</html>