<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>博客列表</title>
</head>
<body>

<div layout:fragment="content" th:each="post : ${posts}">

    <div class="post-content">
        <div class="ui grid">
            <div class="three wide column">
                <a class="avatar"
                       th:href="@{/posts(author=${post.author.id})}"
                       th:attr="data-title=${post.author.username},data-content=${post.author.bio}">
                    <img class="ui circular image" th:src="${post.author.avatar}">
                    <br/>
                    <span>[[${post.author.username}]]</span>
                </a>
            </div>
            <div class="ten wide column">
                <div class="ui segment">
                    <h3><a th:href="@{|/posts/${post.id}|}">[[${post.title}]]</a></h3>
                    <pre>[[${post.content}]]</pre>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>